/* .aio-input-form{
    width:100%;
    border:1px solid #ddd;
    font-size:14px;
}
.aio-input-form-label{
    font-size:85%;
}
.aio-input-form-body{
    padding:12px;
}
.aio-input-form .aio-input{
    width:100%;
} */